.dashboard {
  padding: 20px;
  background-color: red;
  border-radius: 10px;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.stat {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  background-color: yellow;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}
