.producto-list {
    list-style: none;
    padding: 0;
    background-color: #cc0000;
    color: #ccc;
  }
  
  .product-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .product-item button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .product-item button:hover {
    background-color: #cc0000;
  }
  